@using Dominio;

<form action="/login/altamiembro" method="post">
    <div class="mb-3">
        <label for="email" class="form-label">E-mail</label>
        <input type="text" class="form-control" id="email" name="Email">
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="password" name="Password">
    </div>
    <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="nombre" name="Nombre">
    </div>
    <div class="mb-3">
        <label for="apellido" class="form-label">Apellido</label>
        <input type="text" class="form-control" id="apellido" name="Apellido">
    </div>
    <div class="mb-3">
        <label for="nacimiento" class="form-label">Fecha de Nacimiento:</label>
        <input type="date" class="form-control" id="nacimiento" name="fechaNacimiento">
    </div>
    <button type="submit" class="btn btn-primary">Registrarse</button> <br /><br />

    @if (TempData["mensaje"] != null)
    {
        if (!(bool)TempData["mensaje"])
        {
            <div class="alert alert-success" role="alert">
                Te has registrado correctamente!
            </div>
        }
        else
        {
            <div class="alert alert-danger" role="alert">
                @TempData["mensajeError"]
            </div>

        }
    }
</form>







